.table {
    border: 1px solid #dddddd;
}

.table th, .table td {
    border-left: 1px solid #dddddd;
}

.table td {
    border-top: 1px solid #dddddd;
}

#invoice_positions>.row>div {
    font-size: 12px;
}

.row {
     margin-bottom: 1em;
}
