<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <a class="navbar-brand">ZS</a>
        <ul class="nav navbar-nav" routerLinkActive="active">
            <li><a routerLink="/home">Podsumowanie</a></li>
            <li><a routerLink="/magazyn">Magazyn</a></li>
            <li><a routerLink="/kontrahenci">Kontrahenci</a></li>
            <li><a routerLink="/faktury">Faktury i koszty</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="true">
              <span class="glyphicon glyphicon-user" style="padding-right: 5px;"></span>Nazwa użytkownika
              <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
              <li><a routerLink="/edytujprofil">Edytuj profil</a></li>
              <li><a routerLink="/login">Wyloguj się</a></li>
            </ul>
          </li>
          <li>
            <a routerLink="/ustawienia"><span class="glyphicon glyphicon-cog"></span>Ustawienia</a>
          </li>
        </ul>
    </div>
</nav>

