.form-registration {
    max-width: 380px;
    padding: 15px;
    margin: 40px auto;
}

.form-registration-heading {
    color: #204d74;
    padding-bottom: 30px;
    text-align: center;
}

.form-registration .form-control {
    position: relative;
    height: auto;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 10px;
    font-size: 16px;
}

.form-registration .text-input {
    margin-bottom: 12px;
}

.separator-2 {
    display: block;
    position: relative;
    padding: 12px 0 6px 0;
    text-align: center;
}

.separator-2 > span {
    font-size: 13px;
    color: #8A91A6;
}
