<div class="row">
<div class="col-sm-6">
<form [formGroup]="clientAddForm"
      (ngSubmit)="onSubmitAdd(clientAddForm.value)">
      <div class="form-group">
          <h2>Nowy kontrahent</h2>
          <div class="col-sm-12">
              <label for="typKontr">Typ kontrahenta</label>
              <select class="form-control" formControlName="typKontr" (change)="onChangeKontrahentType($event)">
                <option *ngFor="let t of getKontrahentTypes()" [value]="t">{{t}}</option>
              </select>
          </div>
          <div class="col-sm-12">
          <label for="nazwaFirmy" *ngIf="isFirma">Nazwa firmy</label>
          <label for="nazwaFirmy" *ngIf="!isFirma">Imie i nazwisko</label>
          <input type="text" class="form-control" name="nazwaFirmy" id="nazwaFirmy" formControlName="nazwaFirmy">
          </div>
          <div *ngIf="isFirma" class="col-sm-12">
          <label for="nip">NIP</label>
          <input type="text" class="form-control" name="nip" id="nip" formControlName="nip">
          </div>
          <div class="col-sm-12">
          <label for="adres">Ulica i nr</label>
          <input type="text" class="form-control" formControlName="adres" name="adres" id="adres">
          </div>
          <div class="col-sm-3">
          <label for="kodPocztowy">Kod pocztowy</label>
          <input type="text" class="form-control" formControlName="kodPocztowy" name="kodPocztowy" id="kodPocztowy">
          </div>
          <div class="col-sm-9">
          <label for="miasto">Miejscowość</label>
          <input type="text" class="form-control" formControlName="miasto" name="miasto" id="miasto">
          </div>
          <!--<div class="col-sm-12">
          <label for="seller_bank_account">Konto</label>
          <input type="text" class="form-control" formControlName="seller_bank_account" name="seller_bank_account" id="seller_bank_account">
          </div>
          <div class="col-sm-12">
          <label for="seller_bank">Bank</label>
          <input type="text" class="form-control" formControlName="seller_bank" name="seller_bank" id="seller_bank">
          </div>-->
          <div class="col-sm-12 col_mar">       
          <button class="btn btn-primary" type="submit">Zapisz</button>
          <button type='button' (click)="anuluj()" class="btn btn-danger">Anuluj</button>
          </div>
      </div>
</form>
</div>
</div>
