<form [formGroup]="invoiceForm"
        (ngSubmit)="onSubmitAdd(invoiceForm.value)">
 <div class="form-group">
      <div class="row">
      <div class="col-sm-12">
      <div class="col-sm-2">
      <label for="number">Numer</label>
      <input type="text" class="form-control" formControlName="invoice_number" name="invoice_number" id="invoice_number">
      </div>
      <div class="col-sm-2">
      <label for="invoice_issue_date">Data wystawienia</label><input type="date" class="form-control" formControlName="invoice_issue_date" name="invoice_issue_date" id="invoice_issue_date">
      </div>
      <div class="col-sm-2">
      <label for="invoice_place">Miejsce wystawienia</label><input type="text" class="form-control" formControlName="invoice_place" name="invoice_place" id="invoice_place">
      </div>
      <div class="col-sm-2">
      <label for="invoice_sell_date">Data sprzedaży</label><input type="date" class="form-control" formControlName="invoice_sell_date" name="invoice_sell_date" id="invoice_sell_date">
      </div>
      </div>
      </div>
      <div class="row">
        <div formGroupName = "seller" class="col-sm-6">
          <div class="col-sm-12">
          <h3>Sprzedawca</h3>
          <input type="text" class="form-control" formControlName="invoice_seller_name" name="invoice_seller_name" id="invoice_seller_name">
          </div>
          <div class="col-sm-12">
          <label for="invoice_seller_tax_no">NIP</label>
          <input type="text" class="form-control" formControlName="invoice_seller_tax_no" name="invoice_seller_tax_no" id="invoice_seller_tax_no">
          </div>
          <div class="col-sm-12">
          <label for="invoice_seller_street">Ulica i nr</label>
          <input type="text" class="form-control" formControlName="invoice_seller_street" name="invoice_seller_street" id="invoice_seller_street">
          </div>
          <div class="col-sm-3">
          <label for="invoice_seller_post_code">Kod pocztowy</label>
          <input type="text" class="form-control" formControlName="invoice_seller_post_code" name="invoice_seller_post_code" id="invoice_seller_post_code">
          </div>
          <div class="col-sm-9">
          <label for="invoice_seller_city">Miejscowość</label>
          <input type="text" class="form-control" formControlName="invoice_seller_city" name="invoice_seller_city" id="invoice_seller_city">
          </div>
          <div class="col-sm-12">
          <label for="invoice_seller_bank_account">Konto</label>
          <input type="text" class="form-control" formControlName="invoice_seller_bank_account" name="invoice_seller_bank_account" id="invoice_seller_bank_account">
          </div>
          <div class="col-sm-12">
          <label for="invoice_seller_bank">Bank</label>
          <input type="text" class="form-control" formControlName="invoice_seller_bank" name="invoice_seller_bank" id="invoice_seller_bank">
          </div>
        </div>
        <div formGroupName = "buyer" class="col-sm-6">
          <div class="col-sm-12">
          <h3>Nabywca</h3>
          <select class="form-control" name="invoice_buyer_name" id="invoice_buyer_name" formControlName="invoice_buyer_name">
          <option></option>
          </select>
          </div>
          <div class="col-sm-12">
          <label for="invoice_buyer_tax_no">NIP</label>
          <input type="text" class="form-control" name="invoice_buyer_tax_no" id="invoice_buyer_tax_no" formControlName="invoice_buyer_tax_no">
          </div>
          <div class="col-sm-12">
          <label for="invoice_buyer_street">Ulica i nr</label>
          <input type="text" class="form-control" formControlName="invoice_buyer_street" name="invoice_buyer_street" id="invoice_buyer_street">
          </div>
          <div class="col-sm-3">
          <label for="invoice_buyer_post_code">Kod pocztowy</label>
          <input type="text" class="form-control" formControlName="invoice_buyer_post_code" name="invoice_buyer_post_code" id="invoice_buyer_post_code">
          </div>
          <div class="col-sm-9">
          <label for="invoice_buyer_city">Miejscowość</label>
          <input type="text" class="form-control" formControlName="invoice_buyer_city" name="invoice_buyer_city" id="invoice_buyer_city">
          </div>
        </div>
      </div>
      
  
<div id="invoice_positions" formArrayName="invoice_positions" class="row">
<div class="row">
  <h4>Pozycje na fakturze</h4>
  <div class="col-sm-4">Nazwa:</div>
  <div class="col-sm-1">Ilość:</div>
  <div class="col-sm-1">Jednostka:</div>
  <div class="col-sm-1">Cena netto:</div>
  <div class="col-sm-1">VAT %:</div>
  <div class="col-sm-1">Wartość netto:</div>
  <div class="col-sm-1">Wartość VAT:</div>
  <div class="col-sm-1">Wartość brutto:</div>
</div>
  <div *ngFor="let position of invoiceForm.controls.invoice_positions.controls; let i=index" [formGroupName]="i" >
    <!-- The repeated template -->
    <div class="row row_pos">
      <div class="col-sm-4">
        <input class="form-control" formControlName="attributes_name">
      </div>
      <div class="col-sm-1">
        <input class="form-control" formControlName="attributes_quantity">
      </div>
      <div class="col-sm-1">
        <select class="form-control" formControlName="attributes_quantity_unit" required >
          <option *ngFor="let u of attributes_quantity_unit" [value]="u">{{u}}</option>
        </select>
      </div>
      <div class="col-sm-1">
        <input class="form-control" formControlName="attributes_price_net">
      </div>
      <div class="col-sm-1">
        <select class="form-control" formControlName="attributes_tax_per">
          <option *ngFor="let t of attributes_tax" [value]="t">{{t}}</option>
        </select>
      </div>
      <div class="col-sm-1">
        <input class="form-control" formControlName="attributes_total_price_net" readonly>
      </div>
      <div class="col-sm-1">
        <input class="form-control" formControlName="attributes_tax" readonly>
      </div>
      <div class="col-sm-1">
        <input class="form-control" formControlName="attributes_total_price_gross" readonly>
      </div>
      <div class="col-sm-1">
        <button (click)="delInvoicePosition(i)" class="btn btn-danger" title="Usuń" type="button">
          <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
        </button>
      </div>
    </div>
  </div> 
    <!-- End of the repeated template -->
  <button (click)="addInvoicePosition()" type="button" class="btn btn-success add_button">
    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
  </button>
  <div class="row">
  <div class="col-sm-4 col-sm-offset-8">
  <table class="table">
    <tbody>
      <tr>
        <th>VAT</th>
        <th>Wartość netto</th>
        <th>Wartość VAT</th>
        <th>Wartość brutto</th>
      </tr>
      <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td>Razem</td>
        <td></td>
        <td></td>
        <td></td>

      </tr>
    </tbody>
  </table>
</div>
  </div>
</div>
 
  <button class="btn btn-primary" type="submit">Zapisz</button>
  <button class="btn btn-danger">Anuluj</button>
 </div>
</form>
