<form [formGroup]="fakturaForm"
        (ngSubmit)="onSubmitAdd(fakturaForm.value)">
  <div class="form-group">
      <div class="row">
        <div class="col-sm-12">
          <div class="col-sm-2">
          <label for="number">Numer</label>
          <input type="text" class="form-control" formControlName="numerFaktury" name="numerFaktury" id="numerFaktury">
          </div>
          <div class="col-sm-2">
          <label for="dataWystawienia">Data wystawienia</label><input type="date" class="form-control" formControlName="dataWystawienia" name="dataWystawienia" id="dataWystawienia">
          </div>
          <div class="col-sm-2">
          <label for="miejsceWystawienia">Miejsce wystawienia</label><input type="text" class="form-control" formControlName="miejsceWystawienia" name="miejsceWystawienia" id="miejsceWystawienia">
          </div>
          <div class="col-sm-2">
          <label for="dataSprzedazy">Data płatności</label><input type="date" class="form-control" formControlName="dataPlatnosci" name="dataPlatnosci" id="dataPlatnosci">
          </div>
          <div class="col-sm-4">
          <label for="fakturaType">Typ dokumentu</label>
          <select class="form-control" formControlName="fakturaType" (change)="onChangeFakturaType($event)">
            <option *ngFor="let t of getFakturaTypes()" [value]="t">{{t}}</option>
          </select>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12">
        <div class="col-sm-12">
        <label for="opis">Opis (opcjonalnie)</label>
        <input type="text" class="form-control" formControlName="opis" name="opis" id="opis">
        </div>
        </div>
      </div>
      <div class="row" *ngIf="!czyStrata">
        <div formGroupName = "daneFirmy" class="col-sm-6">
          <div class="col-sm-12">
          <h3>{{sprzedawcaNapis}}</h3>
          <input type="text" class="form-control" formControlName="nazwaFirmy" name="nazwaFirmy" id="nazwaFirmy" readonly>
          </div>
          <div class="col-sm-12">
          <label for="nip">NIP</label>
          <input type="text" class="form-control" formControlName="nip" name="nip" id="nip" readonly>
          </div>
          <div class="col-sm-12">
          <label for="adres">Ulica i nr</label>
          <input type="text" class="form-control" formControlName="adres" name="adres" id="adres" readonly>
          </div>
          <div class="col-sm-3">
          <label for="kodPocztowy">Kod pocztowy</label>
          <input type="text" class="form-control" formControlName="kodPocztowy" name="kodPocztowy" id="kodPocztowy" readonly>
          </div>
          <div class="col-sm-9">
          <label for="miasto">Miejscowość</label>
          <input type="text" class="form-control" formControlName="miasto" name="miasto" id="miasto" readonly>
          </div>
          <!--<div class="col-sm-12">
          <label for="konto">Konto</label>
          <input type="text" class="form-control" formControlName="konto" name="konto" id="konto">
          </div>
          <div class="col-sm-12">
          <label for="bank">Bank</label>
          <input type="text" class="form-control" formControlName="bank" name="bank" id="bank">
          </div>-->
        </div>
        <div formGroupName = "kontrahent" class="col-sm-6">
          <div class="col-sm-12">
            <h3>{{nabywcaNapis}}</h3>
            <select class="form-control" name="nazwaFirmy" id="nazwaFirmy" formControlName="nazwaFirmy">
              <option [value]="kontrahent.id" *ngFor="let kontrahent of kontrahenci">{{kontrahent.getFullName()}}</option>
            </select>
          </div>
          <div class="col-sm-12">
          <label for="nip">NIP</label>
          <input type="text" class="form-control" name="nip" id="nip" formControlName="nip" readonly>
          </div>
          <div class="col-sm-12">
          <label for="adres">Ulica i nr</label>
          <input type="text" class="form-control" formControlName="adres" name="adres" id="adres" readonly>
          </div>
          <div class="col-sm-3">
          <label for="kodPocztowy">Kod pocztowy</label>
          <input type="text" class="form-control" formControlName="kodPocztowy" name="kodPocztowy" id="kodPocztowy" readonly>
          </div>
          <div class="col-sm-9">
          <label for="miasto">Miejscowość</label>
          <input type="text" class="form-control" formControlName="miasto" name="miasto" id="miasto" readonly>
          </div>
        </div>
      </div>

<div id="przedmioty" formArrayName="przedmioty" class="row col-sm-12">
<h4 *ngIf="!czyStrata">Pozycje na fakturze</h4>
<h4 *ngIf="czyStrata">Pozycje strat</h4>
<div class="row hidden-xs labels" *ngIf="!czyStrata">
  <div class="col-sm-4">Nazwa:</div>
  <div class="col-sm-1">Ilość:</div>
  <div class="col-sm-1">Jednostka:</div>
  <div class="col-sm-1">Cena netto:</div>
  <div class="col-sm-1">VAT %:</div>
  <div class="col-sm-1">Wartość netto:</div>
  <div class="col-sm-1">Wartość VAT:</div>
  <div class="col-sm-1">Wartość brutto:</div>
</div>

<div class="row hidden-xs labels" *ngIf="czyStrata">
  <div class="col-sm-4">Nazwa:</div>
  <div class="col-sm-1">Ilość:</div>
  <div class="col-sm-1">Jednostka:</div>
  <div class="col-sm-2">Wartość strat:</div>
  <div class="col-sm-3">Wartość strat razem:</div>
</div>

  <div *ngFor="let position of fakturaForm.controls.przedmioty.controls; let i=index" [formGroupName]="i" >
    <!-- The repeated template -->
    <div class="row row_pos">
      <div class="col-sm-4">
        <label class="visible-xs">Nazwa:</label>
        <select class="form-control" formControlName="nazwa" (change)="onChangePrzedmiot($event, i)">
            <option *ngFor="let p of przedmioty" [value]="p.id">{{p.nazwa}}</option>
        </select>
      </div>
      <div class="col-sm-1">
        <label class="visible-xs">Ilość:</label>
        <input class="form-control" formControlName="ilosc">
      </div>
      <div class="col-sm-1">
        <label class="visible-xs">Jednostka:</label>
        <input class="form-control" formControlName="jednostka" readonly />
      </div>
      <div class="col-sm-1" *ngIf="!czyStrata">
        <label class="visible-xs">Cena netto:</label>
        <input class="form-control" formControlName="cenaNetto">
      </div>
      <div class="col-sm-2" *ngIf="czyStrata">
        <label class="visible-xs">Wartość strat:</label>
        <input class="form-control" formControlName="cenaNetto">
      </div>
      <div class="col-sm-1" *ngIf="!czyStrata">
        <label class="visible-xs">VAT %:</label>
        <input class="form-control" formControlName="vat" readonly />
      </div>
      <div class="col-sm-3" *ngIf="czyStrata">
        <label class="visible-xs">Wartość strat razem:</label>
        <input class="form-control" formControlName="wartoscNetto" readonly>
      </div>
      <div class="col-sm-1" *ngIf="!czyStrata">
        <label class="visible-xs">Wartość netto:</label>
        <input class="form-control" formControlName="wartoscNetto" readonly>
      </div>
      <div class="col-sm-1" *ngIf="!czyStrata">
        <label class="visible-xs">Wartość VAT:</label>
        <input class="form-control" formControlName="wartoscVat" readonly>
      </div>
      <div class="col-sm-1" *ngIf="!czyStrata">
        <label class="visible-xs">Wartość brutto:</label>
        <input class="form-control" formControlName="wartoscBrutto" readonly>
      </div>
      <div class="col-sm-1">
        <button (click)="delPrzedmioty(i)" class="btn btn-danger" title="Usuń" type="button">
          <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
        </button>
      </div>
    </div>
  </div> 
    <!-- End of the repeated template -->
  <button (click)="addPrzedmioty()" type="button" class="btn btn-success add_button">
    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
  </button>
  <div class="row">
  <div class="col-sm-4 col-sm-offset-8">
  <table class="table" *ngIf="!czyStrata">
    <tbody>
      <tr>
        <th></th>
        <th>Wartość netto</th>
        <th>Wartość VAT</th>
        <th>Wartość brutto</th>
      </tr>
      <tr>
        <td><strong>Razem</strong></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
    </tbody>
  </table>

  <table class="table" *ngIf="czyStrata">
    <tbody>
      <tr>
        <th></th>
        <th>Wartość strat</th>
      </tr>
      <tr>
        <td><strong>Razem</strong></td>
        <td></td>
      </tr>
    </tbody>
  </table>

</div>
  </div>
</div>
 
  <button class="btn btn-primary" type="submit">Zapisz</button>
  <button class="btn btn-danger" type="button" (click)="anuluj()">Anuluj</button>
 </div>
</form>
