<div class="row header">
  <div class="col-md-6">
    <h2>Lista faktur</h2>
  </div>
  <div class="col-md-6 text-right">
    <a routerLink="dodaj/0" class="btn btn-primary">
    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
    <span><strong>Dodaj nową</strong></span></a>
 </div>
</div>
<div class="table-responsive">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>Numer</th>
                  <th>Wartość netto</th>
                  <th>Wartość brutto</th>
                  <th>Klient</th>
                  <th>Data wystawienia</th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>ff</td>
                  <td >ff</td>
                  <td>ff</td>
                  <td>ffgfgf vfgfgrfgr vbfgrtrtr</td>
                  <td>ff</td>
                  <td class="text-right">
                    <a href="" class="btn btn-primary" title="Zobacz">
                      <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span>
                    </a>
                    <a href="" class="btn btn-primary" title="Edytuj">
                      <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
                    </a>
                    <a href="" class="btn btn-danger" title="Usuń">
                      <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                    </a>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
