.user-activated {    
    color: #fff;
    background-color: #5cb85c;
    font-size: 9px;
    border-radius: 4px;
    padding: 1px 5px 2px 5px;
}

.user-deactivated {
    color: #fff;
    background-color: #d9534f;
    font-size: 9px;
    border-radius: 4px;
    padding: 1px 5px 2px 5px;
    white-space: nowrap;
}