<h2>Zyski i straty</h2>
<div>
    Straty [zł]: {{straty}}
</div>
<div>
    Koszta [zł]: {{koszta}}
</div>
<div>
    Przychód [zł]: {{przychod}}
</div>
<div>
    Dochód [zł]: {{dochod}}
</div>


<h2>Kwoty brutto</h2>
<div>
    Koszta brutto [zł]: {{kosztaBrutto}}
</div>
<div>
    Przychód brutto [zł]: {{przychodBrutto}}
</div>
<div>
    Dochód brutto (bez strat) [zł]: {{dochodBruttoBezStr}}
</div>
<div>
    Dochód brutto (wliczając straty) [zł]: {{dochodBrutto}}
</div>


<h2>VAT</h2>
<div>
    VAT zapłacony (koszta) [zł]: {{vatKoszta}}
</div>
<div>
    VAT otrzymany (przychód) [zł]: {{vatPrzychod}}
</div>
<div>
    VAT należny do US [zł]: {{vatNalezny}}
</div>
