<h2>Zyski i straty</h2>
<div>
    Straty [zł]: {{straty | number:'1.2-2'}}
</div>
<div>
    Koszta [zł]: {{koszta | number:'1.2-2'}}
</div>
<div>
    Przychód [zł]: {{przychod | number:'1.2-2'}}
</div>
<div>
    Dochód [zł]: {{dochod | number:'1.2-2'}}
</div>


<h2>Kwoty brutto</h2>
<div>
    Koszta brutto [zł]: {{kosztaBrutto | number:'1.2-2'}}
</div>
<div>
    Przychód brutto [zł]: {{przychodBrutto | number:'1.2-2'}}
</div>
<div>
    Dochód brutto (bez strat) [zł]: {{dochodBruttoBezStr | number:'1.2-2'}}
</div>
<div>
    Dochód brutto (wliczając straty) [zł]: {{dochodBrutto | number:'1.2-2'}}
</div>


<h2>VAT</h2>
<div>
    VAT zapłacony (koszta) [zł]: {{vatKoszta | number:'1.2-2'}}
</div>
<div>
    VAT otrzymany (przychód) [zł]: {{vatPrzychod | number:'1.2-2'}}
</div>
<div>
    VAT należny do US [zł]: {{vatNalezny | number:'1.2-2'}}
</div>
