<div class="row">
  <div class="faktura-podglad">
    <div>
      <table class="table-responsive">
        <tbody>
          <tr>
            <td>
              <h3 *ngIf="!czyStrata">
                <strong>Faktura nr </strong>
                <span>{{faktura.numerFaktury}}</span>
              </h3>
              <h3 *ngIf="czyStrata">
                <strong>Strata nr </strong>
                <span>{{faktura.numerFaktury}}</span>
              </h3>
              <br>
              <p>
                <strong>Data wystawienia: </strong>
                <span>{{faktura.dataWystawienia}}</span>
              </p>
              <p>
                <strong>Miejsce wystawienia: </strong>
                <span>{{faktura.miejsceWystawienia}}</span>
              </p>
              <p>
                <strong>Termin płatności: </strong>
                <span>{{faktura.dataPlatnosci}}</span>
              </p>
              <p *ngIf="faktura.opis.trim()!=''">
                <small>
                  <strong>Opis: </strong>
                  <em>{{faktura.opis}}</em>
                </small>
              </p>
            </td>
          </tr>
        </tbody>
      </table>
      <hr>
      <table class="table-responsive" *ngIf="!czyStrata">
        <thead>
          <tr>
            <th>
              <span>{{sprzedawcaNapis}}</span>
            </th>
            <th>
              <span>{{nabywcaNapis}}</span>
            </th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              <p>{{faktura.daneFirmy.nazwaFirmy}}</p>
              <p>
                {{faktura.daneFirmy.adres}}
                <br>{{faktura.daneFirmy.kodPocztowy}} {{faktura.daneFirmy.miasto}}
              </p>
              <p>NIP: {{faktura.daneFirmy.nip}}</p>
            </td>
            <td>
              <p>{{faktura.kontrahent.nazwaFirmy}}</p>
              <p>
                {{faktura.kontrahent.adres}}
                <br>{{faktura.kontrahent.kodPocztowy}} {{faktura.kontrahent.miasto}}
              </p>
              <p>NIP: {{faktura.kontrahent.nip}}</p>
            </td>
          </tr>
        </tbody>
      </table>
      <div *ngIf="!czyStrata">
        <table class="przedmioty">
          <thead>
            <tr>
              <th class="width1">LP</th>
              <th class="col-sm-4">Nazwa towaru / usługi</th>
              <th class="width1">Ilość</th>
              <th class="width1">Jm</th>
              <th class="col-sm-1">Cena netto [zł]</th>
              <th class="col-sm-1">Wartość netto [zł]</th>
              <th class="width1">VAT %</th>
              <th class="col-sm-1">Wartość VAT [zł]</th>
              <th class="col-sm-1">Wartość brutto [zł]</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let p of faktura.przedmioty; let i=index">
              <td>{{i+1}}</td>
              <td class="text_left">{{getPrzedmiotById(i).nazwa}}</td>
              <td>{{p.ilosc}}</td>
              <td>{{getPrzedmiotById(i).jednostka}}</td>
              <td>{{p.cenaNetto| number:'1.2-2'}}</td>
              <td>{{(p.ilosc * p.cenaNetto )| number}}</td>
              <td>{{p.vat}}</td>
              <td>{{p.ilosc * p.cenaNetto * p.vat / 100 | number:'1.2-2'}}</td>
              <td>{{getPrzedmiotById(i).getBruttoByKwotaAndVat((p.ilosc*p.cenaNetto),p.vat) | number:'1.2-2'}}</td>
            </tr>
            <tr>
              <td class="empty" colspan=5>RAZEM:</td>
              <td>{{faktura.getSumNetto() | number:'1.2-2'}}</td>
              <td>--</td>
              <td>{{faktura.getSumVat() | number:'1.2-2'}}</td>
              <td>{{faktura.getSumBrutto() | number:'1.2-2'}}</td>
            </tr>
            <!--<tr>
                <td class="empty" colspan=5>W tym:</td>
                <td></td>
                <td>23</td>        
                <td></td>
                <td></td>
            </tr>-->
          </tbody>
        </table>
        <br>
        <table>
          <tr>
            <td class="col-sm-10 text-right">
              <b>Razem do zapłaty [zł]:</b>
            </td>
            <td class="col-sm-2">{{faktura.getSumNetto()| number:'1.2-2'}}
              <small>({{faktura.getSumBrutto()| number:'1.2-2'}} brutto)</small>
            </td>
          </tr>
        </table>
      </div>

      <div *ngIf="czyStrata">
        <table class="przedmioty">
          <thead>
            <tr>
              <th class="width1">LP</th>
              <th class="col-sm-4">Nazwa towaru / usługi</th>
              <th class="width1">Ilość</th>
              <th class="width1">Jm</th>
              <th class="col-sm-1">Wartość strat [zł]</th>
              <th class="col-sm-1">Wartość strat razem [zł]</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let p of faktura.przedmioty; let i=index">
              <td>{{i+1}}</td>
              <td class="text_left">{{getPrzedmiotById(i).nazwa}}</td>
              <td>{{p.ilosc}}</td>
              <td>{{getPrzedmiotById(i).jednostka}}</td>
              <td>{{p.cenaNetto| number:'1.2-2'}}</td>
              <td>{{p.ilosc * p.cenaNetto| number:'1.2-2'}}</td>
            </tr>
            <tr>
              <td class="empty" colspan=5>RAZEM [zł]:</td>
              <td>{{faktura.getSumNetto()| number:'1.2-2'}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <button class="btn btn-danger" type="button" (click)="powrot()">Powrót</button>
  </div>
</div>
